<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New reservation</h1>
    <p>
			Please check your restaurant: <%=@reservation.restaurant.name%>
		<p> Details:
			Date: <%=@reservation.date_and_time %>
			Email: <%=@reservation.email %>
			Message: <%=@reservation.message%>
  </body>
</html>