<h1>See your favourite restaurants here!</h1>

<ul>
<% @restaurants.each do |restaurant| %>
	<li><%= link_to "#{restaurant.name}", restaurant_path(restaurant), id: "#{restaurant.name}" %></li>
<%end%>
</ul>
<% if user_signed_in? && current_user.owner? %>
	<%= link_to "Create a new restaurant!", new_restaurant_path, id: "New restaurant" %>
<% end %>